@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

.centered-text {
    text-align: center; 
}

.overlay-container {
    position: relative;
}

.overlay-image {
    width: 100%;
}


/* Header */
.header-main-text {
    text-align: center;
    color: #FFFFFF;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text-section {
    padding: 100px;
}

/* Graphic Design and Photography*/
.overlay-main-text {
    text-align: center;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Testimonials */
#testimonialsSection {
    margin-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
}

.testimonial-image {
    border-radius: 80px;
    margin-bottom: 30px;

    width: 90px;
}

.testimonial {
    padding-bottom: 40px;
}

#clientTestimonialTitle {
    padding-top: 130px;
    padding-bottom: 60px;
}

.testimonial-name {
    font-weight: 700;
    margin-bottom: 0px;
}

/* Footer */
.logo {
    width: 5px;
}

.footer-background {
    background-color: #9ddbce;
}

#sunnyside-footer-text {
    margin-top: 80px;
    font-weight: 600;
    font-family: "Barlow";
    font-size: 28px;
    color: darkgreen;
}